/*Written By:- Jaspreet Arora*/
   	   body
   	    {
   	    	margin:0;
   	    	padding:0;
   	    	background:#dee0e5;
   	    }

/*Index.php*/
      .header
        {
        	margin-top:0px;
        	height:42px;
        	padding-top:1px;
     		background:#43609C;
    	}
    	#heading
    	{
    		position:relative;
    		right:40px;
    		margin-top:10px;
    		text-align:center;
    	}
    	#cancel_button
    	{
    		position:absolute;
            left:20px;
            z-index:2;
            top:0px;
    		padding:5px 5px 7px 5px;
    		margin:7px 0px 0px 20px;
    		font-size:13px;
    	}
        #login_button, #cancel_button
        {
                border-radius:4px;
                background:#43609C;
                border:1px solid black;
                font-weight:bold;
        }
        #login_button
        {
                padding:5px 80px 5px 80px;
                font-size:15px;
                text-decoration:none;
                margin-top:10px;
        }
        #login_button:hover
        {
                background:green;
        }
    	#heading, #cancel_button,#login_button
    	{
    		color:#FFF;
    		font-family:sans-serif;
    	}
        
 /*Post.php*/
        #text_box
        {
            width:400px;
            height:100px;
            max-width:400px;
            max-height:100px!important;
            margin-top:50px;
            border-radius:5px;
            padding:7px 7px;
        }        
        
        @media screen and (max-width:768px)
         {
           body
            {
             overflow-x:hidden;
            }

           #text_box
           {
             max-width:90%;
             margin:50px 3px 0px 3px;
           }
           #heading
           {
             text-align:right;
           }
           
            
            
         }
       